$colors: (
    primary_blue_color: #4d14d2,
    primary_text_color: #696969,
    primary_white_color: #ffffff,
    primary_black_color: #000,
    primary_bg_color: #fbf8f4,
);

$mg-1: 0.5rem;
$mg-2: 1rem;
$mg-3: 1.5rem;
$mg-4: 2rem;
$mg-5: 2.5rem;
$mg-6: 3rem;
$mg-7: 3.5rem;
$mg-8: 4rem;

$pd-1: 0.5rem;
$pd-2: 1rem;
$pd-3: 2.5rem;
$pd-4: 2rem;
$pd-5: 2.5rem;
$pd-6: 3rem;
$pd-7: 3.5rem;
$pd-8: 4rem;
