h1{
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

h1,
h2,
h3,
h4 {
    color: map-get($colors, primary_black_color);
}

p,
a {
    color: map-get($colors, primary_text_color);
}

p {
    line-height: 1.4;
}
